@media only screen and (min-width: 481px) {

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px; /* Remove default margin */
        background-color: #3A3B3C;
    }

    .header {
        background-color: #f0f0f0; /* Add a background color to the header for better visibility */
        padding: 10px;
    }

    .header a {
        text-decoration: none;
        color: #3A3B3C;
    }

    .header h2 {
        margin: 0;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: left;
        color: #f0f0f0;
    }

    .container {
        display: flex;
        align-items: flex-start;
        margin-top: 20px; /* Add margin to separate the header from the content */
    }

    h1 {
        align-self: flex-start; /* Align the h1 to the start of the flex container */
    }

    h2 {
        margin-right: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-left: 20px;
    }

    label {
        display: block;
        margin-top: 20px;
    }

    input {
        width: 10%;
        box-sizing: border-box;
        margin-top: 5px;
        color: #f0f0f0;
    }

}